@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffa724;
  --secondary: #222222;
}

@font-face {
  font-family: "AvenirLight";
  src: url("./_fonts/Avenir\ Light.ttf");
}

@font-face {
  font-family: "AvenirRegular";
  src: url("./_fonts/Avenir\ Regular.ttf");
}

@font-face {
  font-family: "AvenirBook";
  src: url("./_fonts/Avenir\ Book.ttf");
}

@font-face {
  font-family: "AvenirHeavy";
  src: url("./_fonts/Avenir\ Heavy.ttf");
}

@font-face {
  font-family: "AvenirBlack";
  src: url("./_fonts/Avenir\ Black.ttf");
}

body {
  color: rgb(255, 255, 255);
  font-size: 14px;
  background-color: var(--secondary);
}
 
* {
  font-family: "AvenirRegular";
  box-sizing: border-box;
}
